<h1>Facebook Comment Printer</h1>
<section class="body home">
  <p>To get started, paste the URL you&rsquo;d like to print the comments for, and click &ldquo;Get Comments&rdquo;.</p>
  <input type="text" name="fburl" />
  <input type="submit" value="Get Comments" />
</section>